@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: 900;
}